@import "tailwindcss";

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  
@layer utilities {
    .text-primary {
      @apply text-[#8E6447] text-lg font-semibold;
    }
  }

  /* sembunyikan scrollbar (opsional) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
